{% extends 'base.html' %}

{% load static %}

{% block content %}
  

<!-- Checkout Start -->
<div class="container-fluid pt-5">
    <form action="{% url 'place_order' %}" method="POST">
        {% csrf_token %}
        <div class="row px-xl-5">

            <!-- Left Side: Billing & Shipping -->
            <div class="col-lg-6 mb-5">

                <h4 class="font-weight-semi-bold mb-4">Billing Address</h4>
                <div class="row">
                    <div class="col-md-6 form-group">
                        <label>First Name</label>
                        <input class="form-control" type="text" name="first_name" placeholder="John" required>
                    </div>
                    <div class="col-md-6 form-group">
                        <label>Last Name</label>
                        <input class="form-control" type="text" name="last_name" placeholder="Doe" required>
                    </div>
                    <div class="col-md-6 form-group">
                        <label>E-mail</label>
                        <input class="form-control" type="email" name="email" placeholder="example@email.com" required>
                    </div>
                    <div class="col-md-6 form-group">
                        <label>Mobile No</label>
                        <input class="form-control" type="text" name="phone" placeholder="+123 456 789" required>
                    </div>
                    <div class="col-md-12 form-group">
                        <label>Address Line 1</label>
                        <input class="form-control" type="text" name="address_line_1" placeholder="123 Street" required>
                    </div>
                    <div class="col-md-12 form-group">
                        <label>Address Line 2</label>
                        <input class="form-control" type="text" name="address_line_2" placeholder="123 Street">
                    </div>
                    <div class="col-md-6 form-group">
                        <label>Country</label>
                        <select class="custom-select" name="country">
                            <option selected>India</option>
                            <option>United States</option>
                            <option>Albania</option>
                            <option>Algeria</option>
                        </select>
                    </div>
                    <div class="col-md-6 form-group">
                        <label>State</label>
                        <input class="form-control" type="text" name="state" placeholder="Gujarat">
                    </div>
                    <div class="col-md-6 form-group">
                        <label>City</label>
                        <input class="form-control" type="text" name="city" placeholder="Surat">
                    </div>
                    <div class="col-md-6 form-group">
                        <label>Pin Code</label>
                        <input class="form-control" type="text" name="pin_code" placeholder="394210">
                    </div>
                    <div class="col-md-6 form-group">
                        <label>Order Note</label>
                        <textarea class="form-control" name="order_note" placeholder="Write any notes for your order here...">
                        </textarea>
                    </div>
                    <div class="col-md-12 form-group">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="shipto" name="ship_to_different">
                            <!-- <label class="custom-control-label" for="shipto" data-toggle="collapse" data-target="#shipping-address">Ship to different address</label> -->
                        </div>
                    </div>
                </div>
            
            </div>
                
            <!-- Right Side: Order Summary & Payment -->
            <div class="col-lg-6">
                <div class="card border-secondary mb-4">
                    <div class="card-header bg-secondary border-0">
                        <h4 class="font-weight-semi-bold m-0">Order Summary</h4>
                    </div>
                    <div class="card-body">
                        <h5 class="font-weight-medium mb-3">Products</h5>

                        <div class="table-responsive">
                            <table class="table table-bordered text-center mb-4">
                                <thead class="bg-secondary text-dark">
                                    <tr>
                                        <th>Image</th>
                                        <th>Product</th>
                                        <th>Size</th>
                                        <th>Color</th>
                                        <th>Price</th>
                                        <th>Qty</th>
                                        <th>Total</th>
                                    </tr>
                                </thead>
                                <tbody class="align-middle">
                                    {% for cart_item in cart_items %}
                                    <tr>
                                        <td class="align-middle"><img src="{{ cart_item.product.image.url }}" style="width: 50px;"></td>
                                        <td class="align-middle">{{ cart_item.product.product_name }}</td>
                                        <td class="align-middle">
                                            {% for variation in cart_item.variation.all %}
                                                {% if variation.variation_category == 'size' %}
                                                    {{ variation.variation_value|capfirst }}
                                                {% endif %}
                                            {% endfor %}
                                        </td>
                                        <td class="align-middle">
                                            {% for variation in cart_item.variation.all %}
                                                {% if variation.variation_category == 'color' %}
                                                    {{ variation.variation_value|capfirst }}
                                                {% endif %}
                                            {% endfor %}
                                        </td>
                                        <td class="align-middle">${{ cart_item.product.price }}</td>
                                        <td class="align-middle">{{ cart_item.quantity }}</td>
                                        <td class="align-middle">${{ cart_item.sub_total }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>


                        <hr class="mt-0">
                        <div class="d-flex justify-content-between mb-3 pt-1">
                            <h6 class="font-weight-medium">Subtotal</h6>
                            <h6 class="font-weight-medium">₹{{ total }}</h6>
                        </div>
                        <div class="d-flex justify-content-between">
                            <h6 class="font-weight-medium">Shipping</h6>
                            <h6 class="font-weight-medium">₹{{ tax }}</h6>
                        </div>
                    </div>
                    <div class="card-footer border-secondary bg-transparent">
                        <div class="d-flex justify-content-between mt-2">
                            <h5 class="font-weight-bold">Total</h5>
                            <h5 class="font-weight-bold">₹{{ grand_total }}</h5>
                        </div>
                    </div>
                    
                    <!-- Payment Method -->
                    <div class="card border-secondary">
                    
                        <div class="card-footer border-secondary bg-transparent">
                            <button type="submit" class="btn btn-lg btn-block btn-primary font-weight-bold py-3">Place Order</button>
                            <a href="{% url 'shop' %}" class="btn btn-block btn-secondary my-3 py-3">Continue Shopping</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<!-- Checkout End -->

{% endblock %}